body, p, ul, li, h1, button, a {
	margin: 0;
	padding: 0;
	font-family: 'Song Myung', serif;
}

ul {
	width:100%;
	padding: 30px 0px;
	position: fixed;
	top: 0;
	background: linear-gradient(to right, #174f5e, #add8b2);
	z-index: 60;
	box-shadow: 10px 10px 50px #232;

}

li {
	list-style-type: none;
	display: inline;

}

li a {
	padding: 20px 35px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition-duration: 0.2s;
}
  
#logo {
	margin-left: 20px;
}


#logo a {
	font-size: 30px;
	border-radius: 100%;
	transition-duration: 0.2s;
}

#logo a:hover {
	color: #ffd200;
	text-shadow: 5px 5px 8px black;
	text-decoration: none;
}

.btn {
	transition-duration: 0.2s;
	padding: 0;
}

.btn a {
	color: white;
}

.btn:hover {
	transform: scale(1.03);
	box-shadow: 6px 6px 9px grey;
	background-color: #008BB4;
}

.btn:hover a {
	text-decoration: none;
}

.navig {
	float: right;
	margin-top: 10px;
}


.navig a:hover {
	color: #ffd200;
	text-shadow: 3px 3px 5px black;
	text-decoration: none;
}

#myCarousel {
	width: 50%;
	margin: auto;
	margin-top: 105px;
	position: relative;

}

.item img {
	width: 100%;
}

#community {
	text-align: center;
	padding: 60px;
	background-color: #e0e6d8;
}

#community h2 {
	font-size: 70px;
}

#community p {
	margin-bottom: 20px;
	font-size: 30px;
	padding: 30px;
}

#class {
	text-align: center;
	padding: 50px;
}

#class h2 {
	font-size: 70px;
}

#class p {
	margin-bottom: 20px;
	font-size: 30px;
	padding: 30px;
}

.btn-info {
	padding: 30px;
	font-size: 20px;
}

#objective {
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
}

#objectivepara {
	font-size: 30px;
	margin-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
}


#lectureform {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

#lectureformpara {
	font-size: 30px;
	margin-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
}

#members {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

#memberspara {
	font-size: 30px;
	margin-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
}

#coursewarecontent {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

#coursewarecontentpara {
	font-size: 30px;
	margin-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
}

#recentresults {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

#recentresultspara {
	font-size: 30px;
	margin-bottom: 20px;
	padding-left: 20%;
	padding-right: 20%;
}

#futureplan {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

#futureplanpara {
	font-size: 30px;
	margin-bottom: 150px;
	padding-left: 20%;
	padding-right: 20%;
}

.jumbotron {
	background-color: #e0e6d8;
	text-align: center;
	padding-top: 200px;
	margin: 0;
}

#subheader {
	padding-top: 50px;
}

.jumbotron #subheader1:hover {
	background-color: white;
	color: #e0e6d8;
	transition-duration: 0.2s;
}

.xxx {
	 border-style: solid;
	 border-color: #fbf2d6;
	 background-color: #e0e6d8;
	 padding-bottom: 50px;
}

#bigheader {
	font-size: 40px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #e0e6d8;
}

#small {
	font-size: 30px;
	background-color: #e0e6d8;
	text-align: center;
}

#myform {
	text-align: center;
	padding-top: 30px;
}

#objectivepara, #lectureformpara, #memberspara, #coursewarecontentpara, #recentresultspara, #futureplanpara {
	display: none;
	padding-bottom: 50px;
	font-size: 20px;
}

#aboutbody {
	background-color: #e0e6d8;
	min-height: 700px;
}

#aboutbody1 {
	background-color: #e0e6d8;
	min-height: 700px;
}

#aboutbody h2:hover {
	cursor: pointer;
	color: skyblue;
}

#aboutbody2 {
	background-color: #e0e6d8;
}

#aboutbody3 {
	background-color: #e0e6d8;
}

#rowone {
	padding-top: 20px;
}

#rowone, #rowtwo, #rowthree {
	padding-left: 30px;
	padding-right: 30px;
}

.col-sm-6 .panel-heading {
color: white;
background-color: #5dbdbf;
padding: 50px;
font-size: 50px;
}

.panel-body {
	height: 300px;
	font-size: 20px;
}

#myCarousel {
	width: 50%;
	margin-top: 120px;
}

#message {
	font-size: 20px;
	padding-bottom: 100px;
}

#form1 {
	font-size: 20px;
}

#submit {
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 15px;
	margin-top: 10px;
	transition-duration: 0.3s
}

#submit:hover {
	color: white;
	background-color: black;
	transform: scale(1.03);
}

#map {
	width: 60%;
	height: 400px;
	margin: 30px auto;

}

#contactbody {
	background-color: #e0e6d8;
}

.slides {
	width: 44%;
	float: left;
	margin: 20px 3%;
}

.slides p {
	font-size: 40px;
	text-align: center;
}

.presentation img {
	width: 100%;
	transition-duration: 0.2s;
}

.presentation img:hover {
	opacity: 0.6;
}

.presentation p {
	font-family: 'Lato';
}

#abouttitle {
	text-align: center;
	padding: 130px 0px 00px 0px;
	color: black;
	font-size: 60px;
}

.slideanim {visibility:hidden;}
  .slide2 {
      animation-name: slide2;
      -webkit-animation-name: slide2;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

 #formerror {
 	padding: 20px;
 	font-size: 18px;
 	text-align: center;
 }

#footer {
	text-align: center;
	font-size: 18px;
	padding: 10px 0px;
	margin: 0px;
	background-color: black;
	color: white;
	width: 100%;
	float: left;
}

.worksample img {
	width: 50%;
	transition-duration: 0.2s;
	padding-bottom: 30px;
}

.worksample img:hover {
	opacity: 0.6;
}

#work h2{
	font-size: 70px;
	margin-top: 70px;
}

#circle {
	background-color: lightblue;
	width: 20px;
	height: 20px;
	position: fixed;
	border: 3px solid black;
	border-radius: 100%;
	z-index: 99;
	left: 50%;
	margin-left: -13px;
	top: 450px;
}

#line {
	background-color: #444;
	width: 4px;
	height: 150px;
	position: absolute;
	z-index: 50;
	left: 50%;
	margin-left: -6px;

}

  @keyframes slide2 {
    0% {
      opacity: 0;
      transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide2 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

@media only screen and (max-width: 768px) {
	li a {
	padding: 10px 15px;
	font-size: 15px;
		}
	#myCarousel {
	width: 100%;
}
	.slides {
		width: 96%;
	}

	#aboutbody h2 {
		font-size: 24px;
		margin: 0px 10%;
	}
}



