body, p, ul, li, h1, button, a {
	margin: 0;
	padding: 0;
	font-family: 'Song Myung', serif;
}

body {
	overflow-x: hidden;
}

ul {
	width:100%;
	padding: 20px 0px;
	position: fixed;
	top: 0;
	background: linear-gradient(to right, #174f5e, #add8b2);
	z-index: 60;
	box-shadow: 10px 10px 50px #232;
}

li {
	list-style-type: none;
	display: inline;

}

li a {
	padding: 38px 35px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	transition-duration: 0.2s;
}

#eventmenu {
	position: relative;
}

#dropdown {
	position: absolute;
	background: #174f5e;
	width: 200%;
	padding: 20px;
	margin-top: 30px;
	display: none;
}

#eventmenu:hover a {
	background-color: #174f5e;
}

#dropdown a {
	font-size: 20px;
	display: block;
	padding: 10px 0px;
}
  
#upcomingtext {
	font-size: 50px;
	margin-top: 100px;
	text-align: center;
}
#logo {
	margin-left: 20px;
}


#logo a {
	font-size: 30px;
	border-radius: 100%;
	transition-duration: 0.2s;
}

#logo a:hover {
	color: white;
	text-shadow: 5px 5px 8px black;
	text-decoration: none;
}

.btn {
	transition-duration: 0.2s;
	padding: 0;
}

.btn a {
	color: white;
}

.btn:hover {
	transform: scale(1.03);
	box-shadow: 6px 6px 9px grey;
	background-color: #008BB4;
}

.btn:hover a {
	text-decoration: none;
}

.navig {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}


.navig a:hover {
	background-color: #174f5e;
	color: white;
	text-shadow: 3px 3px 5px black;
	text-decoration: none;
}


#myCarousel {
	width: 50%;
	margin: auto;
	margin-top: 105px;
	position: relative;

}

.item img {
	width: 100%;
}

#community {
	text-align: center;
	padding: 60px;
	background-color: #e0e6d8;
}

#community h2 {
	font-size: 70px;
}

#community p {
	margin-bottom: 20px;
	font-size: 30px;
	padding: 30px;
}

#class {
	text-align: center;
	padding: 50px 8%;
}

#class h2 {
	font-size: 70px;
	margin-bottom: 30px;
}

#class p {
	margin-bottom: 20px;
	font-size: 20px;
	padding: 1px;
}

#class .panel-body {
	height: 400px;
	padding: 20px;
	font-size: 30px;
}

.btn-info {
	padding: 30px;
	font-size: 20px;
}

#aboutbody .row {
	padding: 20px 7% 0px 7%;
}

.jumbotron {
	background-color: #e0e6d8;
	text-align: center;
	padding-top: 200px;
}

#subheader {
	padding-top: 50px;
	font-size: 25px;
}

.xxx {
	 background-color: #95ab76;
	 padding: 50px 0px;
}

#bigheader {
	font-size: 40px;
	padding-bottom: 20px;
	text-align: center;	 
	background-color: #95ab76;
}

#small {
	font-size: 30px;
	background-color: #95ab76;
	text-align: center;
	padding: 10px 5%;
}

#myform {
	text-align: center;
	padding-top: 30px;
}

#objectivepara, #lectureformpara, #memberspara, #coursewarecontentpara, #recentresultspara, #futureplanpara {
	display: none;
	padding-bottom: 10px;
	font-size: 20px;
}

#aboutbody {
	background-color: #e0e6d8;
	min-height: 700px;
}

#aboutbody #footer {
	width: 102%;
}

#aboutbody1 {
	background-color: #e0e6d8;
	min-height: 700px;
}

#aboutbody h2:hover {
	cursor: pointer;
	color: skyblue;
	transition-duration: 0.2s;
}

#row6 p{
	margin-bottom: 100px;
}

#aboutbody h2{
	margin-bottom: 25px;
	text-align: center;
	font-size: 40px;
}

#row6 {
	margin-bottom: 100px;
}

#aboutbody2 {
	background-color: #e0e6d8;
}

#aboutbody3 {
	background-color: #e0e6d8;
}

#rowone {
	padding-top: 20px;
}

#rowone, #rowtwo, #rowthree {
	padding-left: 30px;
	padding-right: 30px;
}

.col-sm-6 .panel-heading {
color: white;
background-color: #5dbdbf;
padding: 50px;
font-size: 50px;
}

#aboutbody1 .panel-body {
	font-size: 30px;
	padding: 20px;
	height: 400px;
}

.panel-bodyteammember{
	height: 370px;
	font-size: 25px;
	padding: 20px;
}

.teammember {
	height: 300px;
}

#message {
	font-size: 20px;
	padding-bottom: 100px;
}

#form1 {
	font-size: 20px;
}

#submit {
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 15px;
	margin-top: 10px;
	box-shadow: 2px 2px 5px black;
	transition-duration: 0.3s
}

#submit:hover {
	color: white;
	background-color: black;
	box-shadow: none;
	transform: scale(1.03);
}

#map {
	width: 60%;
	height: 400px;
	margin: 30px auto;

}

#contactbody {
	background-color: #e0e6d8;
}

.slides {
	width: 44%;
	float: left;
	margin: 20px 3%;
}

.slides p {
	font-size: 40px;
	text-align: center;
}

.presentation img {
	width: 100%;
	transition-duration: 0.2s;
}

.presentation img:hover {
	opacity: 0.6;
}

.presentation p {
	font-family: 'Lato';
}

#abouttitle {
	text-align: center;
	padding: 140px 0px 30px 0px;
	color: black;
	font-size: 60px;
}

.slideanim {visibility:hidden;}
  .slide2 {
      animation-name: slide2;
      -webkit-animation-name: slide2;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

 #formerror {
 	padding: 20px;
 	font-size: 18px;
 	text-align: center;
 }

.r p{
	font-size: 50px;
}
#footer {
	text-align: center;
	font-size: 18px;
	padding: 10px 0px;
	margin: 0px;
	background-color: black;
	color: white;
	width: 100%;
	float: left;
}

#circle {
	background-color: lightblue;
	width: 20px;
	height: 20px;
	position: fixed;
	border: 3px solid black;
	border-radius: 100%;
	z-index: 99;
	left: 50%;
	margin-left: -13px;
	top: 590px;
}

#line {
	background-color: #444;
	width: 4px;
	height: 250px;
	position: absolute;
	z-index: 50;
	left: 50%;
	margin-left: -6px;

}

  @keyframes slide2 {
    0% {
      opacity: 0;
      transform: translateY(20%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide2 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

@media only screen and (max-width: 768px) {
	li a {
	padding: 10px 15px;
	font-size: 15px;
		}
	#myCarousel {
	width: 100%;
}
	.slides {
		width: 83%;
		margin-left: 14%;
	}

	#aboutbody h2 {
		font-size: 24px;
		margin: 0px 10%;
	}

	#community {
		padding: 40px 5%;
		background-color: #e0e6d8;
	}

	#community h2 {
		font-size: 30px;
	}

	#community p {
		text-align: left;
		margin-bottom: 20px;
		font-size: 18px;
		padding: 30px;
	}

	#class {
		text-align: center;
		padding: 50px 8%;
	}

	#class h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	#class p {
		margin-bottom: 20px;
		font-size: 18px;
		padding: 1px;
	}

	#class .panel-body {
		height: auto;
		font-size: 23px;
	}

	.btn-info {
		padding: 15px;
		font-size: 18px;
	}

	/*about*/

	#aboutbody .row {
		padding: 20px 7% 0px 7%;
	}

	.jumbotron {
		background-color: #e0e6d8;
		text-align: center;
		padding-top: 200px;
	}

	#subheader {
		padding-top: 50px;
		font-size: 18px;
	}

	.xxx {
		 background-color: #95ab76;
		 padding: 50px 0px;
	}

	.xxx p{
		font-size: 18px;
	}

	#bigheader {
		font-size: 40px;
		padding-bottom: 20px;
		text-align: center;	 
		background-color: #95ab76;
	}

	#small {
		font-size: 18px;
	}

	#myform {
		text-align: center;
		padding-top: 30px;
	}

	#objectivepara, #lectureformpara, #memberspara, #coursewarecontentpara, #recentresultspara, #futureplanpara {
		display: none;
		font-size: 18px;
		padding: 10px 5%;
	}

	#aboutbody {
		background-color: #e0e6d8;
		min-height: 700px;
	}

	#aboutbody #footer {
		width: 102%;
	}

	#aboutbody1 {
		background-color: #e0e6d8;
		min-height: 700px;
	}

	#aboutbody h2:hover {
		cursor: pointer;
		color: skyblue;
		transition-duration: 0.2s;
	}

	#row6 p{
		margin-bottom: 100px;
	}

	#aboutbody h2{
		margin-bottom: 25px;
		text-align: center;
		font-size: 30px;
	}

	#aboutbody h1{
		font-size: 45px;
	}

	#row6 {
		margin-bottom: 100px;
	}

	#aboutbody2 {
		background-color: #e0e6d8;
	}

	#aboutbody3 {
		background-color: #e0e6d8;
	}

	#rowone {
		padding-top: 20px;
	}

	#rowone, #rowtwo, #rowthree {
		padding-left: 30px;
		padding-right: 30px;
	}

	.col-sm-6 .panel-heading {
	color: white;
	background-color: #5dbdbf;
	padding: 30px;
	font-size: 30px;
	}

	#aboutbody1 .panel-body {
		font-size: 18px;
		padding: 20px;
		height: auto;
	}

	.panel-bodyteammember{
		height: auto;
		font-size: 18px;
		padding: 20px;
	}

	.teammember {
		height: auto;
	}

	#message {
		font-size: 20px;
		padding-bottom: 100px;
	}

	#form1 {
		font-size: 20px;
	}

	#submit {
		padding: 10px 40px;
		font-size: 20px;
		border-radius: 15px;
		margin-top: 10px;
		box-shadow: 2px 2px 5px black;
		transition-duration: 0.3s
	}

	#submit:hover {
		color: white;
		background-color: black;
		box-shadow: none;
		transform: scale(1.03);
	}

	#map {
		width: 90%;
		height: 400px;
		margin: 30px auto;

	}

	#contactbody {
		background-color: #e0e6d8;
	}

	.slides p {
		font-size: 20px;
		text-align: center;
	}

	.presentation img {
		width: 100%;
		transition-duration: 0.2s;
	}

	.presentation img:hover {
		opacity: 0.6;
	}

	.presentation p {
		font-family: 'Lato';
	}

	#abouttitle {
		text-align: center;
		padding: 140px 0px 30px 0px;
		color: black;
		font-size: 60px;
	}

	.slideanim {visibility:hidden;}
	  .slide2 {
	      animation-name: slide2;
	      -webkit-animation-name: slide2;
	      animation-duration: 1s;
	      -webkit-animation-duration: 1s;
	      visibility: visible;
	  }

	 #formerror {
	 	padding: 20px;
	 	font-size: 18px;
	 	text-align: center;
	 }

	.r p{
		font-size: 50px;
	}

	#circle {
		top: 545px;
		left: 7%;
	}

	#line {
		left: 7%;
	}
}



